/*
  Fouad Matin Personal Site CSS
  Copyright 2013, 2014
*/

html {
  background: #000;
}

.bg-media {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;

  width: 100%;
  height: 100%;

  background: #000 no-repeat center center fixed;
  background-image: url("/assets/mtn.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*-webkit-filter: blur(2px) grayscale(100%);*/

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  opacity: 0;
}

.bg-mask {
  background: rgba(0,0,0,0.4);
  color: #fff;

  position: fixed;
  left: 0;
  top: 0;
  z-index: -50;

  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.content {
  position: relative;
  color: #fff;
  font-family: 'Helvetica Neue';


  text-shadow: 0px 1px rgba(0,0,0,0.6);
  -webkit-font-smoothing: antialiased;

  max-width: 600px;

  padding: 0px 10px;

  margin: 0 auto;
  margin-top: 10%;
}

.img-avatar {
  position: relative;
  border-radius: 500px;
  width: 100px;
  height: 100px;

  display: inline-block;
}

.img-avatar img {
  width: 96px;
  height: 96px;

  border-radius: 500px;

  padding: 2px;
  border: 2px solid #fff;

  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.img-avatar-top:hover {
  opacity: 0;
}

.list-links {
  list-style-type: none;
  font-size: 32px;
  text-align: center;
  padding: 0;
}

.list-links li {
  display: inline;
  padding: 0px 3px 0px 3px;
}

.list-links a {
  color: white;
  text-decoration: none;
}

/* buttons */

.btn {
  border: none;
  padding: 12px 20px;
  border: solid 3px white;
  background: transparent;
  font-size: 22px;
  transition: background 0.2s linear, color 0.3s ease-in;
  cursor: pointer;
  color: white;
  text-shadow: none;
  font-weight: bold;
}

.btn:hover {
  color: rgba(0,0,0,0.8);
  border-color: white;
  background: white;
}

.tablight-background {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Open Sans';
  background: #448AFF;
}

.tablight-promo {
  padding-top: 15%;
  text-align: center;
}

.tablight-promo h1,
.tablight-promo h4 {
  font-weight: 400;
  margin: 30px 0 10px;
}

.tablight-glass {
  height: 100px;
  opacity: 0;
  transform: translateY(10px) scale(.75) rotate(30deg);
  transition: .45s ease-in-out;
}

.tablight-glass.appear {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.tablight-promo button {
  margin: 15px 0;
  padding: 8px 16px;
  font-size: 16px;
  background: none;
  color: rgba(255,255,255,.85);
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background .35s ease-out;
}

.tablight-promo button:hover {
  background: rgba(255,255,255,.1);
}

.tablight-promo button:active {
  background: rgba(0,0,0,.1);
}

.tablight-credit {
  padding: 10px 0;
  text-align: center;
}

.tablight-credit h4 {
  font-weight: 400;
}
